<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>olt-process-management-ui</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
  </head>
  <body>
   <form method="post" id="frm" action="http://localhost:5000/zip-your-smth/us-central1/zipper"
         enctype="multipart/form-data" >
     <input name="fff" id="fff" type="file">
     <label for="fff">Выберите файл</label><br><br>
     <input id="f1" type="submit" class="r"  value="Скочать" title="Отправить">
  </form>
  </body>
</html>
